body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    min-width: 320px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 32px;
}

.content {
    text-align: center;
}

.content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-block-link {
    color: #ffffff;
    text-decoration: none;
}

.content-block-link:hover {
    color: #eeeeee;
}

.content-block-header {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('/images/club/club1.jpg') center / cover;
    min-height: 300px;
    color: #ffffff;
}

.content-block-info {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('/images/club/club2.jpg') center / cover;
    color: #ffffff;
    min-height: 600px;
}

.content-block-services {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.content-block-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 50%;
    margin: 0 20px;
    height: 750px;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.content-block-service-training {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('/images/club/club_service1.jpg') center / cover;
}

.content-block-service-flights {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('/images/club/club_service2.jpg') center / cover;
}

.content-block-map {
    overflow: hidden;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 24px;
    }

    .content-block-service, .content-block-map {
        height: 650px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    .content-block-service, .content-block-map {
        height: 500px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
}