html {
    min-width: 320px;
}

#header {
    background: rgb(250,250,250);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(174,174,174,1) 100%, rgba(174,174,174,1) 100%);
}

#header .mobile, #navigation .mobile {
    display: none;
}

.navbar .nav.pull-right {
    height: 26px;
}

#header .row-fluid {
    position: relative;
}

#header .row-fluid .logo {
    position: absolute;
    top: -25px;
}

#header .row-fluid .logo a {
    display: inline-block;
}

#header .row-fluid .logo-mobile {
    text-align: center;
}

#header .row-fluid .logo img, #header .row-fluid .logo-mobile img {
    height: 115px;
    width: auto;
}

#header .row-fluid .text-wrapper {
    float: right;
    position: relative;
    height: 80px;
}

#header .row-fluid .text-wrapper .text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 16.5px;
    color: #394050;
}

#header .row-fluid .text-wrapper .text h4 {
    margin: 0;
}

#header .row-fluid .text-wrapper .text a {
    color: #394050;
    font-weight: bold;
    font-size: 16.5px;
}

@media (max-width: 979px) {
    #navigation .mobile {
        display: block;
    }
}


@media (max-width: 767px) {
    #header .mobile {
        display: block;
    }

    .topbar .nav-pills>li>a {
        padding: 5px 5px;
    }

    #header .row-fluid .logo {
        display: none;
    }

    #header .row-fluid .text-wrapper {
        height: 100px;
    }

    #header .row-fluid .text-wrapper .text {
        all: unset;
        font-weight: bold;
        color: #394050;
        font-size: 16.5px;
    }
}